
#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup-content {
    position: relative;
  }
  
  .popup-content img {
    max-width: 960px;
    max-height: 540px;
  }
  
  body.show-popup {
    overflow: hidden;
  }
  
  body.show-popup #popup {
    display: flex;
  }
  
  body.show-popup::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
  }