.project-spotlight{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(images/wp8422241-the-weeknd-blinding-lights-wallpapers.jpg);
    background-repeat: no-repeat;
	background-size: 1500px 1200px;
	background-position: center;
    display: flex;
    align-items: flex-start;
    height: auto;
    flex-direction: column;
  
}

.intro-title2{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    padding-left: 40px;
    margin: 40px;

}

.intro-subtitle{
    color: #ba1c1c;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding-left: 80px;
    margin-top: -30px;
}



.spotlight-content{
    display: flex;
    margin: 40px;
}