.main {
    
    display: flex;
    height: 100%;
    width: 100%;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 1rem;
    gap: 2.5rem;
    margin-bottom: 0.5rem;
   
  }
  .nav-item {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-decoration: none;
  }

  .nav-link-text {
    font-size: 0.675rem;
    line-height: 1.25rem;
    font-weight: 550;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #eee !important;
  }
  
  .transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
  }
  
  .nav-links {
    color: rgba(255, 51, 51, 0.8);
    background-color: rgb(21 22 23);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    &:hover {
      background-color: #ba1c1c;
      color: #eee !important;
      transform: scaleX(1.1) scaleY(1.1);
    }
  }
