
.spacer{
    background-color: #18191B;
    
}

.spacer-content{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
    
.spacer-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
    font-size: 24px;
    margin: 10px;
}

